In [1]:
import pandas as pd
import numpy as np

In [2]:
# code for reading all HTLM files in the directory

In [3]:
import os, sys

wp_path = "/Users/ginevralarroux/Desktop/EPFL courses/Applied data analysis/ADA project/data/wpcd/wp/" # to adapt
directories = os.listdir(wp_path)

html_list = []
for dir in directories:
    local_path = wp_path + dir
    local_dir = os.listdir(local_path)
    for link in local_dir:
        if link[-3:]=='htm':
            html_list.append(dir+'/'+link)
        
html_list

['r/Royal_Marines.htm',
 'r/Recycling.htm',
 'r/Retreat_of_glaciers_since_1850.htm',
 'r/Remember_Girls_Like_Rajpura.htm',
 'r/Rutherfordium.htm',
 'r/Rule_of_St_Benedict.htm',
 'r/Red_dwarf.htm',
 'r/Romeo_and_Juliet.htm',
 'r/Rudyard_Kipling.htm',
 'r/Race.htm',
 'r/Ruthenium.htm',
 'r/Rail_transport_in_India.htm',
 'r/Renormalization.htm',
 'r/Rosetta_Stone.htm',
 'r/Rupee.htm',
 'r/Rondane_National_Park.htm',
 'r/Russian_constitutional_crisis_of_1993.htm',
 'r/Richard_Wagner.htm',
 'r/Roman_mythology.htm',
 'r/Rudolf_Vrba.htm',
 'r/Richard_Nixon.htm',
 'r/Roman_Catholic_Church.htm',
 'r/Richard_Feynman.htm',
 'r/Roman_law.htm',
 'r/Royal_Grammar_School_Worcester.htm',
 'r/Rosemary.htm',
 'r/Roman_road.htm',
 'r/Royal_Geographical_Society.htm',
 'r/Radio_telescope.htm',
 'r/Rome.htm',
 'r/Royal_Dutch_Shell.htm',
 'r/Refrigerator_car.htm',
 'r/Roald_Amundsen.htm',
 'r/Roman_villa.htm',
 'r/Robert_Oppenheimer.htm',
 'r/Rabat.htm',
 'r/Richard_Stallman.htm',
 'r/Reigate_Wow_Balloon_Launch.htm',
 'r/Rook_%28bird%29.htm',
 'r/Renaissance.htm',
 'r/Radon.htm',
 'r/Radar.htm',
 'r/Roan_Antelope.htm',
 'r/Roche_limit.htm',
 'r/Riyadh.htm',
 'r/Rhodium.htm',
 'r/Richard_Francis_Burton.htm',
 'r/Ragtime.htm',
 'r/Republic_of_China.htm',
 'r/Report_From_Chernobyl.htm',
 'r/Red_rain_in_Kerala.htm',
 'r/Rubik%27s_Cube.htm',
 'r/Rose-ringed_Parakeet.htm',
 'r/Rhode_Island.htm',
 'r/Robert_Gascoyne-Cecil%2C_3rd_Marquess_of_Salisbury.htm',
 'r/Raising_the_Flag_on_Iwo_Jima.htm',
 'r/Rugby_football.htm',
 'r/Rwanda.htm',
 'r/Ramsgate.htm',
 'r/Ramayana.htm',
 'r/Rugby_World_Cup.htm',
 'r/River.htm',
 'r/Richard_O%27Connor.htm',
 'r/Recorder.htm',
 'r/Ray_of_Light.htm',
 'r/Ren%C3%A9_Descartes.htm',
 'r/Romania_A.htm',
 'r/Rhenium.htm',
 'r/Railway_post_office.htm',
 'r/RSS_%28file_format%29.htm',
 'r/Richard_III_%28play%29.htm',
 'r/Right_whale.htm',
 'r/Red_Panda.htm',
 'r/Royal_Air_Force.htm',
 'r/Redshift.htm',
 'r/Rembrandt.htm',
 'r/Radio.htm',
 'r/Royal_Navy.htm',
 'r/Rowan_Williams.htm',
 'r/Republic_of_the_Congo.htm',
 'r/Robert_Schumann.htm',
 'r/Rock_of_Gibraltar.htm',
 'r/Richard_I_of_England.htm',
 'r/Russia.htm',
 'r/Roman_Greece.htm',
 'r/Robert_Stephenson.htm',
 'r/Reza_Shah.htm',
 'r/Retina.htm',
 'r/Rococo.htm',
 'r/Rutherford_B._Hayes.htm',
 'r/Richard_II_of_England.htm',
 'r/Renaissance_music.htm',
 'r/Russian_language.htm',
 'r/Restoration_comedy.htm',
 'r/Roman_Empire.htm',
 'r/River_Severn.htm',
 'r/Rabbit.htm',
 'r/Rosa_Parks.htm',
 'r/Reggae.htm',
 'r/Red_giant.htm',
 'r/RER.htm',
 'r/Refining.htm',
 'r/Report_2a.htm',
 'r/Ronald_Reagan.htm',
 'r/Royal_Parks_of_London.htm',
 'r/Rainbow.htm',
 'r/Run_From_The_Sun.htm',
 'r/Religious_Society_of_Friends.htm',
 'r/Republic_of_Macedonia.htm',
 'r/Rhine.htm',
 'r/Rain.htm',
 'r/Rail_transport.htm',
 'r/Redwing.htm',
 'r/Romania.htm',
 'r/Radio_frequency.htm',
 'r/Regent%27s_Park.htm',
 'r/Rainhill_Trials.htm',
 'r/Romulus_Augustus.htm',
 'r/Report_3.htm',
 'r/Red_Sea.htm',
 'r/Revised_Standard_Version.htm',
 'r/Richmond%2C_Virginia.htm',
 'r/Ringed_Plover.htm',
 'r/Rwandan_Genocide.htm',
 'r/Radish.htm',
 'r/Religion.htm',
 'r/Report_2.htm',
 'r/Red_Kite.htm',
 'r/Renminbi.htm',
 'r/Radhanite.htm',
 'r/Report_6.htm',
 'r/Russia_A.htm',
 'r/Ran_%28film%29.htm',
 'r/Romanticism.htm',
 'r/Rio_Tinto_Group.htm',
 'r/Rapping.htm',
 'r/Redwood_National_and_State_Parks.htm',
 'r/Roentgenium.htm',
 'r/Real_tennis.htm',
 'r/Rock_Pigeon.htm',
 'r/River_Thames.htm',
 'r/Rockall.htm',
 'r/Retinol.htm',
 'r/Russian_Revolution_of_1917.htm',
 'r/Regional_Coordinators.htm',
 'r/Robert_Peel.htm',
 'r/Rebecca_Helferich_Clarke.htm',
 'r/Rocky_Mountains.htm',
 'r/Report_4.htm',
 'r/Ralph_Nader.htm',
 'r/Raphael.htm',
 'r/R%C3%A9union.htm',
 'r/Reptile.htm',
 'r/Raney_nickel.htm',
 'r/Rwanda_B.htm',
 'r/Rabies.htm',
 'r/Republic_of_Ireland.htm',
 'r/Robert_Baden-Powell%2C_1st_Baron_Baden-Powell.htm',
 'r/Roman_Vishniac.htm',
 'r/Rice.htm',
 'r/Reggaeton.htm',
 'r/Rwanda_A.htm',
 'r/Revolution.htm',
 'r/RMS_Titanic.htm',
 'r/Rhodium%28III%29_chloride.htm',
 'r/Reed_Warbler.htm',
 'r/Rubidium.htm',
 'r/Richard_III_of_England.htm',
 'r/Roman_Britain.htm',
 'r/Raven.htm',
 'r/Reed_Bunting.htm',
 'r/Robert_Boyle.htm',
 'r/Royal_National_Theatre.htm',
 'r/Restoration_literature.htm',
 'r/Robinson_Crusoe.htm',
 'r/Rock_Bunting.htm',
 'r/Riesling.htm',
 'r/Rhubarb.htm',
 'r/Rama.htm',
 'r/Ramesses_II.htm',
 'r/Rhythm_and_blues.htm',
 'r/Rabindranath_Tagore.htm',
 'r/Rainforest.htm',
 'r/ROT13.htm',
 'r/Rio_de_Janeiro.htm',
 'r/Robert_Owen.htm',
 'r/Regular_Donations.htm',
 'r/Radium.htm',
 'r/Rotterdam.htm',
 'u/Utilitarianism.htm',
 'u/Urial.htm',
 'u/U.S._Navy_Marine_Mammal_Program.htm',
 'u/United_States_Senate.htm',
 'u/Ununbium.htm',
 'u/Uranium.htm',
 'u/United_Kingdom_national_football_team.htm',
 'u/United_States_House_of_Representatives.htm',
 'u/United_Kingdom.htm',
 'u/United_States_Numbered_Highways.htm',
 'u/USS_Wisconsin_%28BB-64%29.htm',
 'u/Universe.htm',
 'u/United_for_Peace_and_Justice.htm',
 'u/Ubuntu_%28Linux_distribution%29.htm',
 'u/Ultimatum_game.htm',
 'u/Ukraine_A.htm',
 'u/United_States_Constitution.htm',
 'u/Usa.htm',
 'u/University_of_Chicago.htm',
 'u/Uganda_Child_Soldiers.htm',
 'u/United_States_dollar.htm',
 'u/Uzbekistan_A.htm',
 'u/Uganda_A.htm',
 'u/U.S._Open_%28tennis%29.htm',
 'u/Ununtrium.htm',
 'u/Ukraine.htm',
 'u/U.S._state.htm',
 'u/U2.htm',
 'u/Ultraviolet.htm',
 'u/University_of_Cambridge.htm',
 'u/Ursuline_Convent_Riots.htm',
 'u/Ukulele.htm',
 'u/Ununhexium.htm',
 'u/United_States_Congress.htm',
 'u/Uranus.htm',
 'u/United_States_Virgin_Islands.htm',
 'u/United_States.htm',
 'u/Uzbekistan.htm',
 'u/Uruguay.htm',
 'u/Union_Flag.htm',
 'u/University_of_Bristol.htm',
 'u/Upsilon_Andromedae_d.htm',
 'u/Uruguay_A.htm',
 'u/Uluru.htm',
 'u/Uffington_White_Horse.htm',
 'u/Underground_%28stories%29.htm',
 'u/U.S._Route_66.htm',
 'u/Utrecht_%28city%29.htm',
 'u/United_Nations.htm',
 'u/Ulysses_S._Grant.htm',
 'u/United_Malays_National_Organisation.htm',
 'u/Upsilon_Andromedae_c.htm',
 'u/Ununpentium.htm',
 'u/Upsilon_Andromedae_b.htm',
 'u/Ununoctium.htm',
 'u/United_States_Bill_of_Rights.htm',
 'u/Upsilon_Andromedae.htm',
 'u/Ulawun.htm',
 'u/Ununquadium.htm',
 'u/Union_Station_%28San_Diego%29.htm',
 'u/Uganda.htm',
 'u/University.htm',
 'u/Ulises_Interview.htm',
 'u/University_of_Texas_at_Austin.htm',
 'u/United_Arab_Emirates.htm',
 'u/Umbrella_Cockatoo.htm',
 'u/United_States_Declaration_of_Independence.htm',
 'u/Unix.htm',
 '9/93_Exhibition.htm',
 '9/9th_century.htm',
 '9/90377_Sedna.htm',
 '7/7th_century.htm',
 'i/Irish_people.htm',
 'i/Indian_Standard_Time.htm',
 'i/Iron%28III%29_chloride.htm',
 'i/Information.htm',
 'i/Indus_Valley_Civilization.htm',
 'i/Italian_Renaissance.htm',
 'i/Iron_Mike.htm',
 'i/Isaac_Newton.htm',
 'i/International_law.htm',
 'i/Ivory.htm',
 'i/Indian_cricket_team.htm',
 'i/Investment_banking.htm',
 'i/Ivan_IV_of_Russia.htm',
 'i/International_English.htm',
 'i/Inductance.htm',
 'i/Island_Fox.htm',
 'i/Interview_Sos_Child.htm',
 'i/Isan.htm',
 'i/Isles_of_Scilly.htm',
 'i/Imagism.htm',
 'i/Isaac_Asimov.htm',
 'i/Indira_Gandhi.htm',
 'i/International_Womens_Day.htm',
 'i/Internet_Explorer.htm',
 'i/Irrigation.htm',
 'i/Indian_Ocean.htm',
 'i/Introduction_to_special_relativity.htm',
 'i/Intelligence.htm',
 'i/Imperative_programming.htm',
 'i/Indonesian_language.htm',
 'i/Isle_of_Man.htm',
 'i/Industrial_Revolution.htm',
 'i/Interview_Dunga.htm',
 'i/Idolatry.htm',
 'i/Ireland_King_of_Arms.htm',
 'i/Iceland_hotspot.htm',
 'i/Intelligent_Giving.htm',
 'i/Italo_disco.htm',
 'i/Idit_Harel_Caperton.htm',
 'i/Italian_War_of_1521.htm',
 'i/Intel_Corporation.htm',
 'i/Isaac_Brock.htm',
 'i/Indian_independence_movement.htm',
 'i/Invasion.htm',
 'i/Isle_of_Wight.htm',
 'i/Ishango_bone.htm',
 'i/Iran.htm',
 'i/Isospin.htm',
 'i/Isis.htm',
 'i/Integrated_circuit.htm',
 'i/Invasive_species.htm',
 'i/Internet.htm',
 'i/Ice_sheet.htm',
 'i/Ivory-billed_Woodpecker.htm',
 'i/International_Court_of_Justice.htm',
 'i/Iguanodon.htm',
 'i/Immanuel_Kant.htm',
 'i/IPod.htm',
 'i/International_Space_Station.htm',
 'i/Indonesia_quake_300506.htm',
 'i/Ice_age.htm',
 'i/Inca_Empire.htm',
 'i/Iceland.htm',
 'i/Ireland.htm',
 'i/Industry.htm',
 'i/Indian_Peafowl.htm',
 'i/Iodine.htm',
 'i/India_A.htm',
 'i/Israel_A.htm',
 'i/Irish_poetry.htm',
 'i/Ibn_Battuta.htm',
 'i/International_human_rights_instruments.htm',
 'i/Indonesia.htm',
 'i/Igor_Stravinsky.htm',
 'i/Iraq_War.htm',
 'i/Invertebrate.htm',
 'i/Istanbul.htm',
 'i/India.htm',
 'i/Iranian_peoples.htm',
 'i/Ichthyosaur.htm',
 'i/Isaac.htm',
 'i/Irish_Sea.htm',
 'i/I_Ching.htm',
 'i/Iraq.htm',
 'i/Indonesia_report_310506.htm',
 'i/Indium.htm',
 'i/Iron_Maiden.htm',
 'i/Indricotherium.htm',
 'i/Infrastructure.htm',
 'i/Italy.htm',
 'i/Iron.htm',
 'i/Islamic_republic.htm',
 'i/Interpol.htm',
 'i/Irish_theatre.htm',
 'i/Issyk_Kul.htm',
 'i/Inner_Hebrides.htm',
 'i/Iraq_and_weapons_of_mass_destruction.htm',
 'i/Ike_Altgens.htm',
 'i/Income_disparity.htm',
 'i/Indian_Institutes_of_Technology.htm',
 'i/IG_Farben_Building.htm',
 'i/Impressionism.htm',
 'i/Israel.htm',
 'i/International_Family_Day.htm',
 'i/Iridium.htm',
 'i/Ice.htm',
 'i/Ipswich.htm',
 'i/I_Want_to_Hold_Your_Hand.htm',
 'i/Iowa_class_battleship.htm',
 'i/Insulin.htm',
 'i/Isambard_Kingdom_Brunel.htm',
 'i/Indonesia_A.htm',
 'i/Imperial_Japanese_Navy.htm',
 'i/Islam.htm',
 'i/Igneous_rock.htm',
 'i/Insect.htm',
 'i/Indian_Railways.htm',
 'i/InterBase.htm',
 'i/Indo-Greek_Kingdom.htm',
 'i/Iron_Age.htm',
 'i/Indonesia_quake_270506.htm',
 'i/Indus_River.htm',
 'i/Ice_hockey.htm',
 'i/International_Red_Cross_and_Red_Crescent_Movement.htm',
 'i/ITunes.htm',
 'i/Invasion_of_Grenada.htm',
 'i/Indonesia_report_070606.htm',
 '%/%C3%93engus_I_of_the_Picts.htm',
 '%/%C3%81ed%C3%A1n_mac_Gabr%C3%A1in.htm',
 '%/%C3%89douard_Manet.htm',
 '%/%C3%89ire.htm',
 '%/%E2%82%AC2_commemorative_coins.htm',
 '%/%C3%85land.htm',
 'n/Niccol%C3%B2_dell%27Abbate.htm',
 'n/Nazi_Germany.htm',
 'n/Nationalism.htm',
 'n/Nouakchott.htm',
 'n/National_parks_of_England_and_Wales.htm',
 'n/Nigeria.htm',
 'n/Niccol%C3%B2_Paganini.htm',
 'n/Nepal_A.htm',
 'n/Norman_conquest_of_England.htm',
 'n/North_Sea.htm',
 'n/Nuclear_power.htm',
 'n/Nahuatl_language.htm',
 'n/North_Africa.htm',
 'n/Nuthatch.htm',
 'n/Nairobi.htm',
 'n/Niagara_Falls.htm',
 'n/Niger_A.htm',
 'n/Niger_River.htm',
 'n/Nine_Million_Bicycles.htm',
 'n/Nitrogen_cycle.htm',
 'n/New_York_City_Subway_nomenclature.htm',
 'n/North_Korea.htm',
 'n/Nickel.htm',
 'n/Natural_selection.htm',
 'n/Newsround.htm',
 'n/Negros_Oriental.htm',
 'n/Nintendo.htm',
 'n/Nephron.htm',
 'n/Nuclear_weapon.htm',
 'n/Newshounds.htm',
 'n/Northern_Pacific_Railway.htm',
 'n/Nintendo_Entertainment_System.htm',
 'n/New_York_City.htm',
 'n/Navassa_Island.htm',
 'n/Nepal.htm',
 'n/Newcastle_upon_Tyne.htm',
 'n/Neptunium.htm',
 'n/Naked_Mole_Rat.htm',
 'n/Neoclassicism.htm',
 'n/Nigeria_A.htm',
 'n/Niue.htm',
 'n/Neil_Armstrong.htm',
 'n/Nobiin_language.htm',
 'n/Nostradamus.htm',
 'n/Natural_gas.htm',
 'n/Nile.htm',
 'n/New_Zealand.htm',
 'n/Nicolaus_Copernicus.htm',
 'n/Number.htm',
 'n/Newsfeed_Copyright.htm',
 'n/NATO.htm',
 'n/Namibia.htm',
 'n/Nutmeg.htm',
 'n/Newspaper.htm',
 'n/Neighbours.htm',
 'n/Numismatics.htm',
 'n/New_Caledonia.htm',
 'n/Nazism.htm',
 'n/Newmarket.htm',
 'n/Nationality.htm',
 'n/Nirvana_%28band%29.htm',
 'n/Neon.htm',
 'n/Nuclear_fission.htm',
 'n/Norway.htm',
 'n/Nelson_Mandela.htm',
 'n/Nauru.htm',
 'n/Neodymium.htm',
 'n/Netball.htm',
 'n/Northern_Ireland.htm',
 'n/National_Giving_Week.htm',
 'n/Nitrogen.htm',
 'n/Norfolk.htm',
 'n/Nightingale.htm',
 'n/Niger.htm',
 'n/Names_of_God_in_Judaism.htm',
 'n/Norfolk_Island.htm',
 'n/Necktie.htm',
 'n/Namibia_A.htm',
 'n/Niobium.htm',
 'n/Nitrogen_fixation.htm',
 'n/Nadia_Com%C4%83neci.htm',
 'n/Neil_Young.htm',
 'n/Nutrition.htm',
 'n/Northern_Mariana_Islands.htm',
 'n/Neutron.htm',
 'n/Natural_disaster.htm',
 'n/Netherlands.htm',
 'n/New_England_Patriots.htm',
 'n/New_Delhi.htm',
 'n/Napoleonic_Wars.htm',
 'n/Nobelium.htm',
 'n/National_Hockey_League.htm',
 'n/Nematode.htm',
 'n/Niccol%C3%B2_Machiavelli.htm',
 'n/North_Sea_oil.htm',
 'n/Norwich.htm',
 'n/North_Sea_flood_of_1953.htm',
 'n/Neptune.htm',
 'n/Nanomedicine.htm',
 'n/Norse_mythology.htm',
 'n/Novelty_%28locomotive%29.htm',
 'n/Nagorno-Karabakh_War.htm',
 'n/Nurse_sharks.htm',
 'n/Nigella.htm',
 'n/Nature.htm',
 'n/North_America.htm',
 'n/Nicaragua_A.htm',
 'n/Niger_Charity_Famine.htm',
 'n/National_Anthem_of_Russia.htm',
 'n/Netherlands_Antilles.htm',
 'n/Nicobar_Long-tailed_Macaque.htm',
 'n/North_Atlantic_oscillation.htm',
 'n/Nitrification.htm',
 'n/Nepenthes_rajah.htm',
 'n/Novel.htm',
 'n/Niels_Bohr.htm',
 'n/Nintendo_DS.htm',
 'n/Nicaragua.htm',
 'n/Nashville%2C_Tennessee.htm',
 'n/Nobel_Peace_Prize.htm',
 'n/New_Forest.htm',
 'n/Nathu_La.htm',
 'n/Noam_Chomsky.htm',
 'n/Napoleon_I_of_France.htm',
 'n/Nikolai_Rimsky-Korsakov.htm',
 'n/New_moon.htm',
 'n/Natalie_Portman.htm',
 'n/Naval_Battle_of_Guadalcanal.htm',
 'n/Northwest_Africa.htm',
 'n/National_Gallery%2C_London.htm',
 'n/Nineteen_Eighty-Four.htm',
 'n/Norman_Borlaug.htm',
 'n/Newark%2C_New_Jersey.htm',
 'n/Nikola_Tesla.htm',
 'n/Napster.htm',
 'n/Nottingham.htm',
 'n/Nash_equilibrium.htm',
 'g/Gas_turbine-electric_locomotive.htm',
 'g/George_Thomas_Coker.htm',
 'g/Great_Spotted_Woodpecker.htm',
 'g/Genghis_Khan.htm',
 'g/Geology.htm',
 'g/Ghana_A.htm',
 'g/GNOME.htm',
 'g/Great_Crested_Grebe.htm',
 'g/Goldcrest.htm',
 'g/Great_white_shark.htm',
 'g/Galah.htm',
 'g/Genetics.htm',
 'g/Global_warming.htm',
 'g/GlaxoSmithKline.htm',
 'g/Green_Woodpecker.htm',
 'g/Garage_%28dance_music%29.htm',
 'g/Ghana_B.htm',
 'g/Gull.htm',
 'g/Gorilla.htm',
 'g/Gabon.htm',
 'g/Gmail.htm',
 'g/Grenada.htm',
 'g/Genetic_code.htm',
 'g/Gottfried_Leibniz.htm',
 'g/Goa.htm',
 'g/Gregorian_chant.htm',
 'g/Gulu_Uganda.htm',
 'g/Globular_cluster.htm',
 'g/Gone_with_the_Wind_%28film%29.htm',
 'g/Great_Yarmouth.htm',
 'g/General_Pershing_Zephyr.htm',
 'g/GNU_Linux_naming_controversy.htm',
 'g/Geology_of_the_Grand_Canyon_area.htm',
 'g/Gossypium.htm',
 'g/Guangzhou.htm',
 'g/George_Washington.htm',
 'g/Greece.htm',
 'g/God.htm',
 'g/Girls_Right_To_Education.htm',
 'g/GNU.htm',
 'g/Gordon_Brown.htm',
 'g/Guam.htm',
 'g/Goleta%2C_California.htm',
 'g/Gliding.htm',
 'g/Gold_standard.htm',
 'g/Grover_Cleveland.htm',
 'g/Gowanus_Canal.htm',
 'g/Gibraltar.htm',
 'g/Great_Tit.htm',
 'g/Glastonbury_Festival.htm',
 'g/Gerald_Ford.htm',
 'g/Giza_pyramid_complex.htm',
 'g/George_H._W._Bush.htm',
 'g/Greenland.htm',
 'g/Great_comet.htm',
 'g/Galaxy.htm',
 'g/Gerald_Durrell.htm',
 'g/Glasgow.htm',
 'g/Gardening.htm',
 'g/Global_city.htm',
 'g/George_III_of_the_United_Kingdom.htm',
 'g/Gypsum.htm',
 'g/Gadolinium.htm',
 'g/Georg_Forster.htm',
 'g/Guinea.htm',
 'g/Gliese_876_c.htm',
 'g/Grange_Hill.htm',
 'g/Geology_of_Dorset.htm',
 'g/Guadeloupe.htm',
 'g/Galerina.htm',
 'g/Georgetown%2C_Guyana.htm',
 'g/Gliese_876_b.htm',
 'g/GDRT.htm',
 'g/Game.htm',
 'g/Gallery_of_the_Kings_and_Queens_of_England.htm',
 'g/Gustavus_Franklin_Swift.htm',
 'g/George_I_of_Great_Britain.htm',
 'g/Ganesha.htm',
 'g/Grand_Canyon.htm',
 'g/Genoa.htm',
 'g/Great_Bustard.htm',
 'g/Gas_tungsten_arc_welding.htm',
 'g/Great_Salt_Lake.htm',
 'g/Great_Barrier_Reef.htm',
 'g/Great_Wall_of_China.htm',
 'g/Giant%27s_Causeway.htm',
 'g/Gaza_Strip.htm',
 'g/Ghana.htm',
 'g/Guatemala.htm',
 'g/Gulf_of_Mexico.htm',
 'g/Government_of_France.htm',
 'g/German_Crusade%2C_1096.htm',
 'g/Glacier_National_Park_%28US%29.htm',
 'g/Global_spread_of_H5N1.htm',
 'g/Great_Cormorant.htm',
 'g/Guernsey.htm',
 'g/Gliese_876_d.htm',
 'g/Global.htm',
 'g/Gaur.htm',
 'g/Grape_seed_oil.htm',
 'g/Grand_Central_Station_%28Chicago%29.htm',
 'g/George_IV_of_the_United_Kingdom.htm',
 'g/Globalization.htm',
 'g/Giganotosaurus.htm',
 'g/Granite.htm',
 'g/Geography_of_Ireland.htm',
 'g/Guatemala_A.htm',
 'g/Game_theory.htm',
 'g/Great_Lakes_Storm_of_1913.htm',
 'g/Gender.htm',
 'g/George_Eliot.htm',
 'g/Greek_mythology.htm',
 'g/Guqin.htm',
 'g/Glorious_Revolution.htm',
 'g/Geography_of_Texas.htm',
 'g/Ganges_River.htm',
 'g/Glasses.htm',
 'g/GNU_Project.htm',
 'g/Gold.htm',
 'g/George_V_of_the_United_Kingdom.htm',
 'g/George_Byron%2C_6th_Baron_Byron.htm',
 'g/Great_Rift_Valley.htm',
 'g/Gangtok.htm',
 'g/Grand_Forks%2C_North_Dakota.htm',
 'g/Gettysburg_Address.htm',
 'g/George_VI_of_the_United_Kingdom.htm',
 'g/Guinness.htm',
 'g/Grand_Canal_of_China.htm',
 'g/Giuseppe_Verdi.htm',
 'g/Gauss%27s_law.htm',
 'g/Gallimimus.htm',
 'g/Gremlins.htm',
 'g/Great_hammerhead.htm',
 'g/Gold%28III%29_chloride.htm',
 'g/Gunpowder.htm',
 'g/Gravitation.htm',
 'g/Guglielmo_Marconi.htm',
 'g/Greece_A.htm',
 'g/Great_Moravia.htm',
 'g/Georgia_%28country%29.htm',
 'g/Geography_of_India.htm',
 'g/Guitar.htm',
 'g/Gazza_Botswana.htm',
 'g/G4_Classic_Response.htm',
 'g/Google.htm',
 'g/Gyeongju.htm',
 'g/Great_Auk.htm',
 'g/Georgia.htm',
 'g/Graphic_novel.htm',
 'g/Guinea_A.htm',
 'g/Glass.htm',
 'g/Greg_LeMond.htm',
 'g/Great_Red_Spot.htm',
 'g/Glacier.htm',
 'g/Guild.htm',
 'g/Geometry.htm',
 'g/Glaciology.htm',
 'g/Germanium.htm',
 'g/Gal%C3%A1pagos_Islands.htm',
 'g/Great_Britain.htm',
 'g/Gail_Ward_Exhibition.htm',
 'g/Government.htm',
 'g/Giraffe.htm',
 'g/Greenhouse_effect.htm',
 'g/Gentoo_penguin.htm',
 'g/Greek_War_of_Independence.htm',
 'g/Gustav_Holst.htm',
 'g/Geneva.htm',
 'g/Giant_Panda.htm',
 'g/Georg_von_Boeselager.htm',
 'g/Graniteville_train_disaster.htm',
 'g/Gas_metal_arc_welding.htm',
 'g/Great_Lakes.htm',
 'g/Gaborone.htm',
 'g/Gray_Wolf.htm',
 'g/Guinea_Protests_120207.htm',
 'g/Golden_Gate_Highlands_National_Park.htm',
 'g/Gray_reef_shark.htm',
 'g/Galveston_Hurricane_of_1900.htm',
 'g/Gazelle.htm',
 'g/Genealogy.htm',
 'g/Great_Comet_of_1882.htm',
 'g/Galileo_Galilei.htm',
 'g/George_Fox.htm',
 'g/Gallium.htm',
 'g/Guinea-Bissau.htm',
 'g/Galeras.htm',
 'g/Geography.htm',
 'g/Grand_Central_Terminal.htm',
 'g/Gothenburg.htm',
 'g/Gambia_A.htm',
 'g/Glynn_Lunney.htm',
 'g/Guinea_Bissau.htm',
 'g/Globe_Theatre.htm',
 'g/Great_Pyramid_of_Giza.htm',
 'g/Gautama_Buddha.htm',
 'g/Giant_Eland.htm',
 'g/Gambia.htm',
 'g/Group_%28mathematics%29.htm',
 'g/Grease_%28film%29.htm',
 'g/Giant_Hogweed.htm',
 'g/Germany.htm',
 'g/German_reunification.htm',
 'g/Ghana_Cv_Tema.htm',
 'g/Grevy%27s_Zebra.htm',
 'g/Greater_Cane_Rat.htm',
 'g/Goose.htm',
 'g/Gilles_Villeneuve.htm',
 'g/Gordon_Griffith.htm',
 'g/Greco-Buddhism.htm',
 'g/Ghost_Dance.htm',
 'g/Gas.htm',
 'g/Gliese_876.htm',
 'g/Gas_giant.htm',
 'g/Ganges_shark.htm',
 'g/George_W._Bush.htm',
 'g/Georg_Cantor.htm',
 'g/Grand_Slam_%28tennis%29.htm',
 'g/Golden_Eagle.htm',
 'g/George_Herbert.htm',
 'g/Garden_Gnome_Liberation_Front.htm',
 'g/Gregor_Mendel.htm',
 'g/Go_%28board_game%29.htm',
 'g/George_II_of_Great_Britain.htm',
 'g/Guyana.htm',
 'g/Goldfish.htm',
 'g/German_language.htm',
 'g/Garden.htm',
 'g/Great_Black-backed_Gull.htm',
 'g/Geography_of_Africa.htm',
 '6/6-2-0.htm',
 '6/6th_century.htm',
 'z/Zulu.htm',
 'z/Zambezi.htm',
 'z/Zoroaster.htm',
 'z/Zidane_Algeria_131206.htm',
 'z/Zambia_A.htm',
 'z/Zebra.htm',
 'z/Zara_Yaqob.htm',
 'z/Zebra_shark.htm',
 'z/Zion_National_Park.htm',
 'z/Zambia.htm',
 'z/ZX_Spectrum.htm',
 'z/Zirconium.htm',
 'z/Zhang_Qian.htm',
 'z/Zheng_He.htm',
 'z/Zachary_Taylor.htm',
 'z/Zimbabwe_A.htm',
 'z/Zinc.htm',
 'z/Zeus.htm',
 'z/Zimbabwe.htm',
 'z/Zionism.htm',
 'z/Zuid-Gelders.htm',
 'z/Zinc_chloride.htm',
 'z/Z%C3%BCrich.htm',
 'z/Ziad_Jarrah.htm',
 '1/16_Cygni.htm',
 '1/12th_century.htm',
 '1/1980_eruption_of_Mount_St._Helens.htm',
 '1/1973_oil_crisis.htm',
 '1/16th_century.htm',
 '1/1896_Summer_Olympics.htm',
 '1/11th_century.htm',
 '1/1755_Lisbon_earthquake.htm',
 '1/15th_century.htm',
 '1/15th_Marine_Expeditionary_Unit.htm',
 '1/18th_century.htm',
 '1/19th_century.htm',
 '1/1st_century.htm',
 '1/16_Cygni_Bb.htm',
 '1/14th_century.htm',

The aim of this specific game strategy analysis is to test whether Wikispeedia players have clikability preferences on the positioning of the hyperlinks in the article text. Firstly we will address their postioning in the text, evaluated on the basis of the ordinal number of the paragraph they show up in; secondly we will test if there is a correlation between the clickthrough rate of the hyperlinks and their location in image captions.

It is therefore essential to extract from the data the clicktrhough rate for each hyperlink.

In [4]:
# code for extracting the clickthrough rate of hyperlinks

In [5]:
folder='/Users/ginevralarroux/Desktop/EPFL courses/Applied data analysis/ADA project/data/wikispeedia_paths-and-graph/'

paths_finished='paths_finished.tsv'
articles='articles.tsv'

paths_finished=pd.read_csv(folder+paths_finished, sep='\t', skiprows=15, header=None, names=['hashedIpAddress', 'timestamp', 'durationInSec', 'path', 'rating'])
articles=pd.read_csv(folder+articles, sep='\t', skiprows=12, header=None, names=['article'])

This dataframe contains the paths chosen by the players who could reach the target article.

In [6]:
paths_finished.head()

,hashedIpAddress,timestamp,durationInSec,path,rating
0,6a3701d319fc3754,1297740409,166,14th_century;15th_century;16th_century;Pacific...,NaN
1,3824310e536af032,1344753412,88,14th_century;Europe;Africa;Atlantic_slave_trad...,3.0
2,415612e93584d30e,1349298640,138,14th_century;Niger;Nigeria;British_Empire;Slav...,NaN
3,64dd5cd342e3780c,1265613925,37,14th_century;Renaissance;Ancient_Greece;Greece,NaN
4,015245d773376aab,1366730828,175,14th_century;Italy;Roman_Catholic_Church;HIV;R...,3.0

This dataframe lists all the clickable articles.

In [21]:
def filter_article_name(article_series):
    article_series=article_series.str.lower()
    article_series=article_series.str.replace('_', ' ')
    return article_series

articles.article=filter_article_name(articles.article)
articles.head(20)

                             article
0   %c3%81ed%c3%a1n mac gabr%c3%a1in
1                         %c3%85land
2                 %c3%89douard manet
3                          %c3%89ire
4         %c3%93engus i of the picts
5     %e2%82%ac2 commemorative coins
6                       10th century
7                       11th century
8                       12th century
9                       13th century
10                      14th century
11    15th marine expeditionary unit
12                      15th century
13                          16 cygni
14                       16 cygni bb
15                      16th century
16            1755 lisbon earthquake
17                      17th century
18              1896 summer olympics
19                      18th century

In [27]:
# this is the list articles in the lists of paths
    
clicked_articles=[]
for x in paths_finished['path']: # hypothesize also in paths_unfinished
    path=(x.split(';'))
    path=pd.Series(path)
    clicked_articles.append(path)

clicked_articles_filtered=[]
for path in clicked_articles:
    path_filtered=filter_article_name(path)
    clicked_articles_filtered.append(path_filtered)

clicked_articles_filtered

[0            14th century
 1            15th century
 2            16th century
 3           pacific ocean
 4          atlantic ocean
 5                   accra
 6                  africa
 7    atlantic slave trade
 8     african slave trade
 dtype: object,
 0            14th century
 1                  europe
 2                  africa
 3    atlantic slave trade
 4     african slave trade
 dtype: object,
 0            14th century
 1                   niger
 2                 nigeria
 3          british empire
 4                 slavery
 5                  africa
 6    atlantic slave trade
 7     african slave trade
 dtype: object,
 0      14th century
 1       renaissance
 2    ancient greece
 3            greece
 dtype: object,
 0                      14th century
 1                             italy
 2             roman catholic church
 3                               hiv
 4                     ronald reagan
 5    president of the united states
 6                   john f. kennedy
 dtype: object,
 0                      14th century
 1                            europe
 2                     north america
 3                     united states
 4    president of the united states
 5                   john f. kennedy
 dtype: object,
 0    14th century
 1           china
 2       gunpowder
 3            fire
 dtype: object,
 0    14th century
 1            time
 2    isaac newton
 3           light
 4           color
 5         rainbow
 dtype: object,
 0    14th century
 1            time
 2           light
 3         rainbow
 dtype: object,
 0    14th century
 1    15th century
 2           plato
 3          nature
 4     ultraviolet
 5           color
 6         rainbow
 dtype: object,
 0             14th century
 1                     time
 2                  science
 3                   nature
 4                  weather
 5                 sunlight
 6                        <
 7                      sun
 8     earth%27s atmosphere
 9              ultraviolet
 10                   color
 11                   light
 12                 rainbow
 dtype: object,
 0            14th century
 1            christianity
 2                   bible
 3                     god
 4                  nature
 5    earth%27s atmosphere
 6             ultraviolet
 7           optical fiber
 8                   light
 9                 rainbow
 dtype: object,
 0    14th century
 1            time
 2       astronomy
 3           light
 4         rainbow
 dtype: object,
 0             14th century
 1              renaissance
 2               empiricism
 3                   nature
 4                  weather
 5                 sunlight
 6                        <
 7                     rain
 8                        <
 9                 sunlight
 10    earth%27s atmosphere
 11                       <
 12                       <
 13                     sun
 14            isaac newton
 15                 rainbow
 dtype: object,
 0         14th century
 1          renaissance
 2    leonardo da vinci
 3                water
 4                 rain
 5                cloud
 6                    <
 7                    <
 8              rainbow
 dtype: object,
 0         14th century
 1          renaissance
 2    leonardo da vinci
 3                water
 4              rainbow
 dtype: object,
 0            14th century
 1                  europe
 2     republic of ireland
 3                       <
 4                       <
 5                  europe
 6                       <
 7                  europe
 8     republic of ireland
 9                       <
 10                      <
 11                   time
 12                physics
 13         speed of light
 14                rainbow
 dtype: object,
 0                          14th century
 1    english peasants%27 revolt of 1381
 2              archbishop of canterbury
 3                          19th century
 4                 the origin of species
 5                               biology
 6                               science
 7                               physics
 8                        speed of light
 9                               rainbow
 dtype: object,
 0    14th century
 1           india
 2            rice
 3            rain
 4       acid rain
 5           cloud
 6           color
 7         rainbow
 dtype: object,
 0             14th century
 1                     time
 2                  physics
 3                        <
 4                      day
 5                      sun
 6                 sunlight
 7              ultraviolet
 8                        <
 9     earth%27s atmosphere
 10                       <
 11             ultraviolet
 12                   color
 13                 rainbow
 dtype: object,
 0      14th century
 1            france
 2      world war ii
 3    nuclear weapon
 4           neutron
 5           physics
 6    speed of light
 7           rainbow
 dtype: object,
 0    14th century
 1    christianity
 2        religion
 3       astrology
 4    isaac newton
 5           color
 6         rainbow
 dtype: object,
 0    14th century
 1            time
 2           light
 3         rainbow
 dtype: object,
 0    14th century
 1            time
 2           light
 3         rainbow
 dtype: object,
 0    14th century
 1     renaissance
 2             art
 3           color
 4         rainbow
 dtype: object,
 0    14th century
 1       singapore
 2         fishing
 3             ice
 4         climate
 5         weather
 6        sunlight
 7     ultraviolet
 8           color
 9         rainbow
 dtype: object,
 0    14th century
 1            time
 2    isaac newton
 3         rainbow
 dtype: object,
 0    14th century
 1     renaissance
 2         science
 3         physics
 4    isaac newton
 5           color
 6         rainbow
 dtype: object,
 0    14th century
 1            time
 2    isaac newton
 3         rainbow
 dtype: object,
 0    14th century
 1            time
 2           light
 3         rainbow
 dtype: object,
 0    14th century
 1            time
 2           light
 3           color
 4         rainbow
 dtype: object,
 0          14th century
 1                  time
 2    special relativity
 3        speed of light
 4               rainbow
 dtype: object,
 0            14th century
 1                    time
 2                   egypt
 3           ancient egypt
 4                   glass
 5    chromatic aberration
 6                   light
 7                 rainbow
 dtype: object,
 0    14th century
 1            time
 2    isaac newton
 3         rainbow
 dtype: object,
 0      14th century
 1    ottoman empire
 2    atlantic ocean
 3             ocean
 4          seawater
 5            sodium
 dtype: object,
 0    14th century
 1    15th century
 2    16th century
 3         science
 4       chemistry
 5          sodium
 dtype: object,
 0               14th century
 1                    england
 2                     london
 3             spanish armada
 4                    england
 5              great britain
 6                          <
 7               10th century
 8               11th century
 9               12th century
 10              13th century
 11              14th century
 12              15th century
 13              16th century
 14             francis drake
 15    elizabeth i of england
 dtype: object,
 0              14th century
 1                   england
 2        james i of england
 3    elizabeth i of england
 dtype: object,
 0              14th century
 1      hundred years%27 war
 2       henry vi of england
 3         wars of the roses
 4     henry viii of england
 5    elizabeth i of england
 dtype: object,
 0              14th century
 1      hundred years%27 war
 2       henry vi of england
 3         wars of the roses
 4     henry viii of england
 5    elizabeth i of england
 dtype: object,
 0              14th century
 1     edward iii of england
 2            windsor castle
 3    elizabeth i of england
 dtype: object,
 0                    14th century
 1                          europe
 2                               <
 3                         england
 4                               <
 5                    christianity
 6                     anglicanism
 7                   united states
 8                    walt whitman
 9                               <
 10    poetry of the united states
 11                              <
 12                              <
 13                              <
 14              french revolution
 15           age of enlightenment
 16                     david hume
 17                     philosophy
 18              fyodor dostoevsky
 19                              <
 20                              <
 21                              <
 22                              <
 23        constitutional monarchy
 24                     government
 25                      anarchism
 26            henry david thoreau
 dtype: object,
 0    2004 atlantic hurricane season
 1                        u.s. state
 2                     united states
 3                          fine art
 4                       visual arts
 5                          painting
 6                                 <
 7                                 <
 8                           drawing
 9                               art
 dtype: object,
 0       2004 atlantic hurricane season
 1    el ni%c3%b1o-southern oscillation
 2                           fertilizer
 3                           molybdenum
 4                       periodic table
 5                             chromium
 dtype: object,
 0    2004 atlantic hurricane season
 1                     pacific ocean
 2                             water
 3                            oxygen
 4                  chemical element
 5                    periodic table
 6                          chromium
 dtype: object,
 0    2004 atlantic hurricane season
 1                    hurricane ivan
 2                  tropical cyclone
 3                       gravitation
 4                   albert einstein
 5                           physics
 6                              atom
 dtype: object,
 0    2004 atlantic hurricane season
 1                  tropical cyclone
 2                              rain
 3                             water
 4                              atom
 dtype: object,
 0       2004 atlantic hurricane season
 1    el ni%c3%b1o-southern oscillation
 2                       global warming
 3                       climate change
 4       retreat of glaciers since 1850
 5                                    <
 6                              ice age
 dtype: object,
 0       2004 atlantic hurricane season
 1       2005 atlantic hurricane season
 2    el ni%c3%b1o-southern oscillation
 3                       global warming
 4                       climate change
 5                              ice age
 dtype: object,
 0       2004 atlantic hurricane season
 1                       atlantic ocean
 2                                    <
 3    el ni%c3%b1o-southern oscillation
 4                       global warming
 5                              ice age
 dtype: object,
 0    2004 atlantic hurricane season
 1                     pacific ocean
 2                      16th century
 3                       8th century
 dtype: object,
 0    2004 atlantic hurricane season
 1                        u.s. state
 2                     united states
 3                          medicine
 4                           science
 5                         chemistry
 6                              iron
 7                  chemical element
 8                            carbon
 9                buckminster fuller
 dtype: object,
 0    2004 atlantic hurricane season
 1                    atlantic ocean
 2                  tropical cyclone
 3                               sun
 4                             comet
 5                      comet halley
 6                                 <
 7                   comet hale-bopp
 8                       great comet
 dtype: object,
 0    2004 atlantic hurricane season
 1                       the bahamas
 2                     united states
 3                 george washington
 4        american revolutionary war
 5                    british empire
 6                james i of england
 7               james ii of england
 dtype: object,
 0    2004 atlantic hurricane season
 1                           bermuda
 2                           england
 3                james i of england
 4               james ii of england
 dtype: object,
 0    2005 atlantic hurricane season
 1                              cuba
 2                  spanish language
 3                             spain
 dtype: object,
 0     2005 atlantic hurricane season
 1                  hurricane katrina
 2                     gulf of mexico
 3                            florida
 4                 american civil war
 5                   thomas jefferson
 6                    abraham lincoln
 7                 gettysburg address
 8                            slavery
 9                   english language
 10                             latin
 11                             italy
 12                            vienna
 13                             opera
 14              ludwig van beethoven
 15                             piano
 16                              jazz
 dtype: object,
 0               2005 atlantic hurricane season
 1                                      jamaica
 2                                            <
 3                                   u.s. state
 4     list of u.s. states by date of statehood
 5                                            <
 6                            mississippi river
 7                                            <
 8                                            <
 9                                      florida
 10    list of u.s. states by date of statehood
 11                                           <
 12                                      france
 13                                           <
 14                                           <
 15                           hurricane katrina
 16                                           <
 17                                 the bahamas
 18                                     culture
 19                                  folk music
 20                             louis armstrong
 21                                        jazz
 dtype: object,
 0                2005 atlantic hurricane season
 1                             hurricane katrina
 2    effect of hurricane katrina on new orleans
 3                                             <
 4                                gulf of mexico
 5                                 united states
 6                                          jazz
 dtype: object,
 0                2005 atlantic hurricane season
 1                             hurricane katrina
 2    effect of hurricane katrina on new orleans
 3                             mississippi river
 4                                       chicago
 5                                          jazz
 dtype: object,
 0    2005 atlantic hurricane season
 1                              cuba
 2                       salsa music
 3                              jazz
 dtype: object,
 0    2005 atlantic hurricane season
 1                             spain
 2                    european union
 3                    united nations
 4                       switzerland
 5                     liechtenstein
 dtype: object,
 0    2005 atlantic hurricane season
 1                            europe
 2                     liechtenstein
 dtype: object,
 0    2005 atlantic hurricane season
 1                       the bahamas
 2                    atlantic ocean
 3                            europe
 4                            sweden
 dtype: object,
 0    2005 atlantic hurricane season
 1                    atlantic ocean
 2                            africa
 3                           burundi
 dtype: object,
 0    2005 atlantic hurricane season
 1              united states dollar
 2                              gold
 3                            oxygen
 4                 hydrogen peroxide
 dtype: object,
 0    2005 atlantic hurricane season
 1                        u.s. state
 2                     united states
 3                           country
 4                                 <
 5                     new york city
 6                    united nations
 7    international court of justice
 dtype: object,
 0    2005 atlantic hurricane season
 1                        cape verde
 2                          portugal
 3                            lisbon
 dtype: object,
 0    2005 atlantic hurricane season
 1       international space station
 2              united states dollar
 3                     richard nixon
 4    president of the united states
 5                  william mckinley
 dtype: object,
 0    2005 atlantic hurricane season
 1                     united states
 2    president of the united states
 3                  william mckinley
 dtype: object,
 0    2005 atlantic hurricane season
 1                    george w. bush
 2    president of the united states
 3                  william mckinley
 dtype: object,
 0                      aberdeen
 1                     petroleum
 2                climate change
 3                global warming
 4             greenhouse effect
 5                carbon dioxide
 6          earth%27s atmosphere
 7                             <
 8                             <
 9                             <
 10               kyoto protocol
 11                            <
 12               sea level rise
 13    effects of global warming
 dtype: object,
 0       aberdeen
 1        england
 2         season
 3         winter
 4            bat
 5    vampire bat
 dtype: object,
 0                 aberdeen
 1                   europe
 2                  romania
 3    football %28soccer%29
 4           fifa world cup
 5                   brazil
 6        amazon rainforest
 7                   mammal
 8                      bat
 9              vampire bat
 dtype: object,
 0                             aberdeen
 1    city status in the united kingdom
 2                               market
 3                                money
 4                               barley
 5                                bread
 dtype: object,
 0                                     aberdeen
 1                                     scotland
 2    list of countries by system of government
 3                                       sweden
 4                                 alfred nobel
 dtype: object,
 0                   aberdeen
 1                     london
 2    university of cambridge
 3                     oxford
 dtype: object,
 0    aberdeen
 1     england
 2      europe
 3       paris
 4         rer
 dtype: object,
 0         aberdeen
 1          england
 2    british isles
 3     river severn
 4            wader
 5             bird
 6             hawk
 7      sparrowhawk
 dtype: object,
 0       acceleration
 1    albert einstein
 2            germany
 3            dresden
 dtype: object,
 0    acceleration
 1           earth
 2          mammal
 3        elephant
 dtype: object,
 0    acceleration
 1             sea
 2            mars
 3           water
 4        hydrogen
 dtype: object,
 0    acceleration
 1         physics
 2         science
 3               <
 4       chemistry
 5           water
 6        hydrogen
 dtype: object,
 0     acceleration
 1            light
 2    heliocentrism
 3                <
 4              sun
 5         hydrogen
 dtype: object,
 0      acceleration
 1             earth
 2    united nations
 3     united states
 4         minnesota
 dtype: object,
 0     acceleration
 1            earth
 2    united states
 3        minnesota
 dtype: object,
 0    acceleration
 1         physics
 2         biology
 3         anatomy
 4               <

In [28]:
# this is the dataframe containing the hyperlinks and their clicktrhough frequency

links_name=[]
links_freq=[]

i=0
for article in articles['article']:
    count=0
    links_name.append(article)
    for i in range(len(clicked_articles_filtered)):
        if article in clicked_articles_filtered[i]:
            count+=1 
    links_freq.append(count)

links_name=pd.Series(links_name)
links_freq=pd.Series(links_freq)
links_freq_df=pd.concat([links_name, links_freq], axis=1, names=['link', '#_clicks'])
links_freq_df.columns=['link', '#_clicks']
links_freq_df.head(20)

                                link  #_clicks
0   %c3%81ed%c3%a1n mac gabr%c3%a1in         0
1                         %c3%85land         0
2                 %c3%89douard manet         0
3                          %c3%89ire         0
4         %c3%93engus i of the picts         0
5     %e2%82%ac2 commemorative coins         0
6                       10th century         0
7                       11th century         0
8                       12th century         0
9                       13th century         0
10                      14th century         0
11    15th marine expeditionary unit         0
12                      15th century         0
13                          16 cygni         0
14                       16 cygni bb         0
15                      16th century         0
16            1755 lisbon earthquake         0
17                      17th century         0
18              1896 summer olympics         0
19                      18th century         0

In [12]:
# code for extracting the positioning of the hyperlinks in the article text

In [13]:
from bs4 import BeautifulSoup

In [25]:
URL = '/Users/ginevralarroux/Desktop/EPFL courses/Applied data analysis/ADA project/data/wpcd/wp/a/A_cappella.htm'

f=open(URL, 'r')
soup = BeautifulSoup(f, 'lxml')

In [ ]:
# read all the files

soups=[]
for html in html_list:
    f=open(wp_path+html, 'r')
    soup = BeautifulSoup(f, 'lxml')
    soups.append(soup)
    
soups

In [ ]:
# HTML tag for hyperlinks is <a href= >
# this is the dataframe of the hyperlinks contained in an article, with the number of paragraph they show up in 
# and its relative postion in the article

paragraphs = soup.find_all('p')

links=[]
i=0

for p in paragraphs:
    i+=1
    all_links=p.find_all('a')
    for link in all_links:
        if 'href' in link.attrs:
            link_title=link.text
            link_paragraph=i
            links.append([link_title, link_paragraph])

link_positioning_df=pd.DataFrame(links, columns=['link', '#_paragraph']).drop_duplicates()
link_positioning_df['positioning']=round(link_positioning_df['#_paragraph']/len(paragraphs), 2)
link_positioning_df

In [ ]:
# function for all html files

def find_links(soups):
    dfs=[]
    for soup in soups:
        paragraphs = soup.find_all('p')
        
        links=[]
        i=0
        for p in paragraphs:
            i+=1
            all_links=p.find_all('a')
            for link in all_links:
                if 'href' in link.attrs:
                    link_title=link.text
                    link_paragraph=i
                    links.append([link_title, link_paragraph])

        link_positioning_df=pd.DataFrame(links, columns=['link', '#_paragraph']).drop_duplicates()
        link_positioning_df['positioning']=round(link_positioning_df['#_paragraph']/len(paragraphs), 2)
        dfs.append(link_positioning_df)
    return dfs

link_positioning_dfs=find_links(soups)

In [ ]:
# code for finding hyperlinks in images' caption

In [ ]:
URL = '/Users/ginevralarroux/Desktop/EPFL courses/Applied data analysis/ADA project/data/wpcd/wp/a/Aachen.htm'
f2=open(URL, 'r')
soup2 = BeautifulSoup(f2, 'lxml')

In [ ]:
# in an HTML file the images can be either find under tables or div tags

In [ ]:
# images of hyperlinks in tables' captions

tables = soup2.find_all('table')

for table in tables:
    if d.find('img'):
        all_links=table.find_all('a')
        for link in all_links:
            if 'href' in link.attrs:
                link_title=link.text
                links.append(link_title)

links_in_table_df=pd.DataFrame(links).drop_duplicates() 
links_in_table_df.columns=['link_in_table']
links_in_table_df

In [ ]:
def find_links_in_table(soups):
    dfs=[]
    for soup in soups:
        tables = soup2.find_all('table')

        for table in tables:
            if d.find('img'):
            all_links=table.find_all('a')
            for link in all_links:
                if 'href' in link.attrs:
                link_title=link.text
                links.append(link_title)

        links_in_table_df=pd.DataFrame(links).drop_duplicates() 
        links_in_table_df.columns=['link_in_table']
        dfs.append(links_in_table_df)
    return dfs

In [ ]:
# images under div tags

div = soup2.find_all('div')

links=[]

for d in div:
    if (d.find('a', class_="internal")):
        if (d.find('img', class_='thumbimage')):
            caption=d.find('div', class_="thumbcaption")
            if (caption.find('a')):
                all_links=caption.find_all('a')
                for link in all_links:
                    if 'class' not in link.attrs:
                        link_title=link.text
                        links.append(link_title)
                            
links_in_image_df=pd.DataFrame(links).drop_duplicates() 
links_in_image_df.columns=['link_in_image']
links_in_image_df

In [ ]:
#again

div = soup2.find_all('div')

links=[]

for d in div:
    if (d.find('a', class_="internal")):
        if (d.find('img', class_='thumbimage')):
            caption=d.find('div', class_="thumbcaption")
            if (caption.find('a')):
                all_links=caption.find_all('a')
                for link in all_links:
                    if 'class' not in link.attrs:
                        link_title=link.text
                        links.append(link_title)
                            
links_in_image_df=pd.DataFrame(links).drop_duplicates() 
links_in_image_df.columns=['link_in_image']
links_in_image_df

In [ ]:
# when we'll have all the articles' dataframes we will merge them by link and get the average of their positioning
# we will sort the articles based on their clickthrough rate, ascending=False
# we will check if there is a correlation between the positioning and clickthrough rate

In [ ]:
# when we'll have all the articles' dataframes we will label with a flag the hyperlinks located in images' captions
# we will check if there is a correlation between the location in an image caption and clickthrough rate

In [ ]:
# assumptions: 
# we don't know for the hyperlinks that show up both in the article text and in the image caption, 
# which the player actually clicked 
# for the hyperlinks which show up multiple times in the article ...

In [ ]:
URL = '/Users/ginevralarroux/Desktop/EPFL courses/Applied data analysis/ADA project/data/wpcd/wp/m/Music.htm'

f_music=open(URL, 'r')
soup_music = BeautifulSoup(f_music, 'lxml')

In [ ]:
paragraphs_m = soup_music.find_all('p')
print('The total number of paragraphs is {0}.'.format(len(paragraphs_m)))

links_m=[]
i=0

for p in paragraphs_m:
    i+=1
    all_links=p.find_all('a')
    for link in all_links:
        if 'href' in link.attrs:
            link_title=link.text
            link_paragraph=i
            links_m.append([link_title, link_paragraph])

link_positioning_df_m=pd.DataFrame(links, columns=['link', '#_paragraph']).drop_duplicates()
link_positioning_df_m['positioning']=round(link_positioning_df_m['#_paragraph']/len(paragraphs_m), 2)
link_positioning_df_m

In [ ]:
merged=link_positioning_df.merge(link_positioning_df_m, how='outer', left_on='link', right_on='link', )
columns_to_drop=['#_paragraph_x', '#_paragraph_y']
m=merged.drop(labels=columns_to_drop, axis=1)
print(len(m))
m.reset_index(drop=True, inplace=True)
m

In [ ]:
mean_positioning=m.groupby(by=m['link']).apply(np.mean, axis=1)
mean_positioning_df=pd.DataFrame(mean_positioning, columns=['mean_positioning'])
mean_positioning_df.reset_index(level=1, drop=True, inplace=True)
mean_positioning_df=mean_positioning_df.reset_index()
mean_positioning_df
#mean_positioning_df['link'].unique()

In [ ]:
a=links_freq_df

new_data=a.merge(mean_positioning_df, left_on='link', right_on='link')
new_data

In [ ]:
#function to better take into account than the mean 
def find_positioning(array):
    bin_labels=['top', 'center', 'bottom']
    bins=[0, 0.33, 0.66, 1]
    cut_positioning=pd.cut(array, bins, labels=bin_labels)
    positioning_frequency=pd.value_counts(cut_positioning)
    most=positioning_frequency.apply('max')
    return positioning_frequency[positioning_frequency==most].index.astype(str)